body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  margin: 0;
  padding: 0;
  color: #333;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
}
